/* truth game

img{
  border-radius: 100%;
  width:200px;
  height:200px;
}
.col{
  border-radius: 20%;
  background-color: skyblue;
  width:200px;
  height:265px;
} */

input {
  border-radius: 10%;
  padding: 2px;
  margin: 2px;
  max-width: 70px;
  border: 2px solid skyblue;
}
.jumbotron {
  width: 600px;
}
em {
  color: red;
  background-color: skyblue;
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
}
strong {
  color: black;
}
.end {
  max-width: 110px;
}
button {
  width: 110px;
}
#progessMark7 {
  color: red;
}
